:root{
    --main-background-color: #000000;
    --main-color__h1:#000000;
    --main-color: #FFFFFF;
    --main-color-buttons: #333333;
    --first-color-buttons:#A5A5A5;
    --second-color-buttons: #F1A33B;
    --first-color-text-buttons:#000000;
}